.blogpost-content {
  width: 50%;
  background-color: white;
}
.blog-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
input,
textarea {
  min-width: 20rem;
}
.postdiv {
  max-width: 10%;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
}
